/* General styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjust alignment to the top */
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Light grey background color */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Gap between tiles */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
    max-width: 100%; /* Occupy maximum available width */
}

.tile {
    width: 200px; /* Set a default width */
    flex: 1 0 200px; /* Allow flexibility while maintaining the initial size */
    height: 200px; /* Set initial height */
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffffff; /* White tiles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

a {
    text-decoration: none; /* Remove underline from text links on hover */
    color: #333; /* Dark text color for links */
}

.tile img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}

.tile h3 {
    color: #555; /* Dark grey text color for the titles */
}

/* Media query for smaller screens (e.g., smartphones) */
@media (max-width: 600px) {
    .tiles {
        padding: 0; /* Remove padding for better use of screen space */
    }

    .tile {
        width: calc(50% - 20px); /* Two tiles per row */
        flex: 1 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 10px; /* Adjust margin to create space between tiles */
    }
}